@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
::-webkit-scrollbar {
  display: none;
}

.bg-pettern {
  background-color: #e5e5f7;
  opacity: 0.2;
  background-image: radial-gradient(
      #444cf7 0.8500000000000001px,
      transparent 0.8500000000000001px
    ),
    radial-gradient(#444cf7 0.8500000000000001px, #e5e5f7 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-100;
}
